body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0066B3;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.section-title {
    text-align: center;
    margin: 20px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}

.article h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.article h2 {
    font-size: 24px;
    margin: 15px 0;
}

.article p {
    font-size: 18px;
    margin: 10px 0;
    text-align: justify;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.article figcaption {
    font-style: italic;
    color: #888;
}

.footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    color: #fff;
}

.navbar_page {
    background-color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #f2f2f2 (grey) on hover */
  li a:hover {
    background-color: #f2f2f2;
    color: black;
  }
  
  li a::after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
  }
  
  li a:hover::after {
      width: 100%;
      background: black;
  }